/* Обнуление стилей - начало */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Обнуление стилей - конец */

.App {
  background-color: teal;
  min-width: 375px;
  min-height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  text-shadow: #5dc8e5 0 0 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {
  .App {
    background-color: teal;
    min-width: 375px;
    min-height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
    text-shadow: #5dc8e5 0 0 5px;
  }

  .slide-first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 375px;
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
